@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

body {
  // background-color: rgb(31, 47, 66);
  color: white;
  text-align: center;
  margin-top: 50px;
  justify-content:space-around;
}

#base {
  display: flex;
  text-align: center;
  justify-content:space-evenly;
  flex-flow:wrap;
  margin: 10px;
}

.card {
  // background-color: rgb(31, 47, 66);
  background-color: white;
  border-radius: 15%;
  border:none;
  display: flex;
  flex-direction:column;
  margin: 2rem;
  justify-content:space-around;
  width: 300px;
}
.card-img-top:hover {
  transform: scale(1.1);
  transition-duration: 500ms;
}
.card-img-top {
  border-radius: 25%;
}
// .card-body {
//   margin: 50px;
//   height: 200px;
//   width: 200px;

// }
.navbar-brand {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style:italic;
  font-weight: bolder;
}
.img {
  display: flex;
  width: 90%;
  margin: 15px;
}

.card-title {
  color:rgb(92, 92, 100);
  font-size: 25px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-style:inherit
}

#add-button {
  margin: 10px;
}
