@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

body {
  background-color: rgb(31, 47, 66);
  // color: white;
  text-align: center;
  margin-top: 100px;
}
